extends layout

block content
    h1= title
    p Welcome to #{title}
    video(autoplay=true,preload=true,id="video",style="display:none;")
        source(type="application/x-mpegURL", src="http://140.113.89.72:8080/hls/rtmp.m3u8")
    canvas(width="1280",height="720",id="canvas")
    script.
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        video.addEventListener('play', function() {
            draw(this, context, 1280, 720);
        }, false);

        function draw(video, context, width, height) {
            context.drawImage(video, 0, 0, width, height);
            setTimeout(draw, 10, video, context, width, height);
        }